<?php

declare(strict_types=1);

return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__ . '/.php_cs.cache')
    ->setRiskyAllowed(true)
    ->registerCustomFixers(new SymplifyCsFixer\SymplifyCsFixers())
    ->registerCustomFixers(
        [
            new SlamCsFixer\FinalInternalClassFixer(),
            new SlamCsFixer\InlineCommentSpacerFixer(),
        ]
    )
    ->setRules(
        Suin\PhpCsFixer\Rules::create(
            [
                'phpdoc_to_comment' => false,
                'Slam/inline_comment_spacer' => true,
                SymplifyCsFixer\StandaloneLineInMultilineArrayFixer::NAME => true,
                SymplifyCsFixer\BlockPropertyCommentFixer::NAME => true,
                SymplifyCsFixer\RemoveEmptyDocBlockFixer::NAME => true,
                SymplifyCsFixer\RemoveSuperfluousDocBlockWhitespaceFixer::NAME => true,
                SymplifyCsFixer\RemoveUselessDocBlockFixer::NAME => [
                    'useless_types' => [],
                ],
                SymplifyCsFixer\RequireFollowedByAbsolutePathFixer::NAME => true,
                SymplifyCsFixer\LineLengthFixer::NAME => [
                    'line_length' => 80,
                    'break_long_lines' => true,
                    'inline_short_lines' => true,
                ],
//                SymplifyCsFixer\PropertyNameMatchingTypeFixer::NAME => true,
                SymplifyCsFixer\MethodOrderByTypeFixer::NAME => true,
                SymplifyCsFixer\ClassStringToClassConstantFixer::NAME => true,
                SymplifyCsFixer\ArrayPropertyDefaultValueFixer::NAME => true,
                SymplifyCsFixer\FinalInterfaceFixer::NAME => true,
                SymplifyCsFixer\BlankLineAfterStrictTypesFixer::NAME => true,
                SymplifyCsFixer\PrivateMethodOrderByUseFixer::NAME => true,
                SymplifyCsFixer\PropertyOrderByComplexityFixer::NAME => true,
                SymplifyCsFixer\ParamReturnAndVarTagMalformsFixer::NAME => true,
            ]
        )
    )
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('vendor')
            ->notPath('tests/demo')
            ->in('packages')
    );
